@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <em>to</em> <br> ListWisely</h1>
    <br>
    <hr>
    <br>
    <h4>Our Mission</h4>
    <p>Make the world a better place by simplifying the process of prescription taking memory and prescription history.</p>

</div>
