html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h3{
  color: #F25C05;
}

h4{
  color: #F25C05;
  ;
}

button{
  color: #F25C05;
}


body {
  margin-bottom: 60px;
  background-color: #F2E6DF;
}

h1{
  color: #363435;
}

p{
  color: #A61508;
}

nav{
  background-color: #F2E6DF;
}